<ion-card>
  <ion-card-header>
    <ion-item>
      <ion-icon size="large" name="hardware-chip-outline" ></ion-icon>
      <ion-card-title>CPU</ion-card-title>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Utilisation</ion-label>
      <ion-text slot="end">{{measurement.SystemInfo.Cpu.Utilisation}}%</ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>Clock Speed</ion-label>
      <ion-text slot="end">{{measurement.SystemInfo.Cpu.Currentclock}} GHz</ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>Baseclock</ion-label>
      <ion-text slot="end">{{measurement.SystemInfo.Cpu.Baseclock}} GHz</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-item>
      <ion-icon size="large"name="pie-chart-outline"></ion-icon>
      <ion-card-title>RAM</ion-card-title>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Utilisation</ion-label>
      <ion-text slot="end">{{measurement.SystemInfo.Ram.Max - measurement.SystemInfo.Ram.Used}} Mb</ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Space</ion-label>
      <ion-text slot="end">{{measurement.SystemInfo.Ram.Max}} Mb</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>CPU</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ngx-chartjs [data]="cpuChartData" type="line" [options]="cpuChartOptions"></ngx-chartjs>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>RAM</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ngx-chartjs [data]="ramChartData" type="line" [options]="ramChartOptions"></ngx-chartjs>
  </ion-card-content>
</ion-card>
