<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item>
      <ion-text> {{folder}}</ion-text>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <app-system-info *ngIf="measurement.SystemInfo.Cpu !== undefined" [folderInput]="folder" [measurement]="measurement"></app-system-info>
  <app-rasperry-info *ngIf="measurement.SystemInfo.Cpu === undefined" [folderInput]="folder" [measurement]="measurement"></app-rasperry-info>
</ion-content>
