<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-icon size="large" name="desktop-outline" ></ion-icon>
      <ion-text>{{folder}}</ion-text>
    </ion-item>

    <ion-card>
      <ion-card-header>
        <ion-toolbar>
          <ion-icon size="large" name="hardware-chip-outline" ></ion-icon>
          <ion-title>
            CPU
          </ion-title>
        </ion-toolbar>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-icon name="stats-chart-outline"></ion-icon>
          <ion-label>Utilisation</ion-label>
          <ion-text slot="end">{{measurement.systemInfo.Cpu.Utilisation}}%</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="timer-outline"></ion-icon>
          <ion-label>Clock Speed</ion-label>
          <ion-text slot="end">{{measurement.systemInfo.Cpu.Currentclock}} GHz</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="timer-outline"></ion-icon>
          <ion-label>Baseclock</ion-label>
          <ion-text slot="end">{{measurement.systemInfo.Cpu.Baseclock}} GHz</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-toolbar>
          <ion-icon size="large"name="pie-chart-outline"></ion-icon>
          <ion-title>
            RAM
          </ion-title>
        </ion-toolbar>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-icon name="stats-chart-outline"></ion-icon>
          <ion-label>Utilisation</ion-label>
          <ion-text slot="end">{{measurement.systemInfo.Ram.Used}} Mb</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="stats-chart-outline"></ion-icon>
          <ion-label>Space</ion-label>
          <ion-text slot="end">{{measurement.systemInfo.Ram.Max}} Mb</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
